main {
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .5rem;
}

.flex-column {
    flex-direction: column;
}

.tbx-card {
    margin: .5rem;
        
    max-width: 25%;
    width: 25%
}

h2 {
    text-align: center;
}

.svgp {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.pill-red {
    font-size: initial;
    padding: .2rem;
    background: #811;
    border-radius: .25rem;
    font-size: small;
    color: #fff;
}

.pill-yellow {
    font-size: initial;
    padding: .2rem;
    background: #b81;
    border-radius: .25rem;
    font-size: small;
    color: #222;
}

.pill-green {
    font-size: initial;
    padding: .2rem;
    background: #181;
    border-radius: .25rem;
    font-size: small;
    color: #fff;
}

.tbx-dark * .svg {
    filter: invert(1);
}

#some-words {
    text-align: center;
    padding: 1rem;
}

.wallpaper {
    border-radius: .5rem;
}

@media screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
    }
    .tbx-card {
        max-width: calc(100% - 3rem);
        width: calc(100% - 3rem);
    }
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }