<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jDev ES Blog</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">

    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/JanCraft/toolbox@1.0/src/toolbox.min.css">
    <link rel="stylesheet" href="/css/article.css">
    
</head>
<body class="tbx-dark tbx-nav-fixed-offset">
    <nav class="tbx-nav tbx-nav-fixed" role="navigation">
        <a href="/" class="tbx-nav-brand">
            <img src="/img/favicon.png" width="32" height="32">
            <h1>jDev Blog</h1>
        </a>
    </nav>
    
    <article class="tbx-main" role="article">
        <div class="tbx-card">
            <small>
                jDev Blog &gt; <!-- TEMPLATE:DATA blogpath -->
                <br>
                <!-- TEMPLATE:DATA postdate -->
            </small>
            <!-- TEMPLATE:CONTENT -->
        </div>
    </article>

    <footer id="footer" class="tbx-footer">
        Made with ❤️ by JanCraft
    </footer>
</body>
</html>
